#videoArea
{
    width:30%;
    height:200px;
    margin-left: 8%;
    border: 5px double blue;
    display:block;

}

#adv
{
    width: 20%;
    margin-left: 53%;

}

#adv img
{
    width:150%;
    height: 240px;
}
#poster
{
    width:80%;
    margin-left: 5%;
    display: inline;

}

#poster img
{
    width:25%;
    height: 200px;
    margin-right: 3%;
    margin-top: 5%;
    border: 2px solid red;
}